* {
   margin: 0;
   padding: 0;
   font-family: 'Work Sans', sans-serif;
}

/* Banner Section styles*/

.banner {
   width: 1600px;
   height: 800px;

   background-image: url(images/banner/banner3.png);
}

.banner-header {
   font-size: 65px;
   font-weight: 700;
   color: aliceblue;
   margin-bottom: 24px;
}

.banner-paragraph {
   font-size: 16px;
   color: aliceblue;
   margin-bottom: 32px;
}

.banner-text {
   margin-left: 51%;
   padding-top: 155px;
   width: 525px;
   text-align: end;
}

.banner-btn {
   padding: 20px 25px;
   border-radius: 5px;
   border: 0;
   font-size: 20px;
   font-weight: 600px;
   color: #005FAC;
   ;
}

/* previous year Styles */

.previys-year {
   margin-top: 130px;
}

.previous-year-contian {
   display: flex;
   margin-top: 130px;
}

.previous-year-text {
   width: 416px;
   margin-left: 117px;
   margin-top: 200px;
}

.fa-solid {
   color: rgb(4, 183, 91);
   font-size: 20px;
   margin-right: 5px;
}

.previous-year-header {
   font-size: 40px;
   font-weight: 700px;
   margin-bottom: 20px;

}

.previous-year-paragraph {
   font-size: 19px;
   line-height: 1.6;
   margin-bottom: 16px;
}

.previous-year-list {
   font-size: 19px;
   line-height: 1.9;
}

.previous-year-img {
   margin-left: 150px;
}

/* My plan Section styles */

.my-plan {
   width: 1600px;
}

.plan-header {
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   margin-top: 130px;
   margin-bottom: 50px;
}

.plan-sectin {
   display: flex;
   margin-left: 120px;
   margin-bottom: 130px;
}

.plan-sectin h3 {
   font-size: 30px;
   font-weight: 700px;
}

.plan-icon {
   width: 124px;
   margin-bottom: 25px;
}

.javascript {
   margin-right: 50px;
   width: 300px;
   text-align: center;
}

.web-dev {
   margin-right: 50px;
   width: 300px;
   text-align: center;
}

.moking {
   margin-right: 50px;
   width: 300px;
   text-align: center;
}

.ecommerce {
   margin-right: 50px;
   width: 300px;
   text-align: center;
}

.plan-sectin p {
   font-size: 25px;
}

/* mindset-section Styles */

.mindset-section {
   width: 1140px;
   height: 300px;
   background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
   background: url(images/gradient1.png);
   margin-bottom: 130px;
   margin-left: 170px;
}

.mindset-section h2 {
   color: #fff;
   font-size: 40px;
   padding-top: 60px;
   margin-left: 60px;
   margin-bottom: 20px;
}

.call-btn {
   padding: 20px 25px;
   border-radius: 5px;
   border: 0;
   font-size: 20px;
   font-weight: 600px;
   color: #005FAC;
   margin-left: 60px;
}

/* footer section style */

.footer {
   display: flex;
   width: 1438px;
   height: 540px;
   background: #151414;
   color: azure;
   padding-left: 160px;
   padding-top: 150px;
}

.footer-text {
   width: 485px;
   height: 317px;
}

.footer-text h2 {
   font-weight: 700;
   font-size: 50px;
   margin-bottom: 16px;
}

.footer-text p {
   font-size: 18px;

}

.footer-form {
   margin-left: 350px;
}

.footer-form-header {
   font-weight: 600;
   font-size: 25px;
   margin-bottom: 30px;
}

.email-box {
   width: 340px;
   height: 60px;
   border-radius: 7px;
   color: black;
   font-size: 22px;
}

.submit-btn {
   padding: 15px 30px;
   border-radius: 5px;
   border: 0;
   font-size: 20px;
   font-weight: 600px;
   margin-top: 20px;
   color: #005FAC;
}

.social-icon {
   margin-top: 50px;

}

.fb {
   width: 60px;
   margin-right: 10px;
}

.yt {
   width: 60px;
   margin-right: 10px;
}

.tw {
   width: 60px;
   margin-right: 10px;
}

/* our teams styles */
.team-header {
   width: 1600px;
   font-size: 25px;
   text-align: center;
}

.our-team img {
   width: 220px;
   height: 220px;
   border-radius: 55%;
}

.our-team h2 {
   text-align: center;
}

.our-team p {
   text-align: center;
}

.teams {
   display: flex;
   gap: 150px;
   margin-left: 160px;
   margin-top: 50px;
   margin-bottom: 140px;

}